{% extends 'shop/layout.html' %}
{% load bootstrap5 %}

{% block content %}
    <p>
        {% for category in category_list %}
            <span class="badge bg-info">
        {{ category.name }}
    </span>
        {% endfor %}

    <form action="" method="get" class="mb-3">
        <input type="text"
               name="query"
               placeholder="검색어를 입력하세요."
               value="{{ request.GET.query }}"/>
        <input type="submit" value="검색"/>
    </form>
    </p>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>상점명</th>
            <th>등록일시</th>
        </tr>
        </thead>
        <tbody>
        {% for shop in shop_list %}
            <tr>
                <td>
                    <a href="{% url 'shop:shop_detail' shop.pk %}">
                        {{ shop.name }}
                    </a>
                </td>

                <td>{{ shop.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% bootstrap_pagination page_obj %}
{% endblock %}