{% extends 'shop/layout.html' %}

{% block content %}

    <h2>{{ post.title }}</h2>

    {#    <p>#}
    {#        태그 :#}
    {#        {% for tag in tag_list %}#}
    {#            <a href="{% url "shop:tag_detail" tag.name %}"#}
    {#               class="badge bg-info">#}
    {#                {{ tag.name }}#}
    {#            </a>#}
    {#        {% endfor %}#}
    {#    </p>#}

    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 my-3">
        <a href="{% url "shop:post_detail" post.pk %}">
        </a>
        <img src="{{ post.photo.url }}"
             alt="{{ post.title }}"/>
    </div>

    {{ post.description|linebreaks }}

    <div>
        <a href="{% url "shop:post_edit" post.pk %}"
           class="btn btn-primary">
            수정하기
        </a>

    </div>

    <a href="{% url "shop:post_list" %}"
       class="btn btn-primary">
        목록으로
    </a>

    <hr/>
    <h5>댓글창</h5>
    <ul>
        {% for comment in comment_list %}
            <li>
                {{ comment.message }}
                by {{ comment.name }}
                at
                <span title="{{ comment.created_at }}">
            {{ comment.created_at|timesince }} 전
        </span>
            <a href="{% url "shop:comment_edit" post.pk comment.pk %}"
               class="btn btn-primary">
                수정하기
            </a>
            </li>
        {% endfor %}
    <a href="{% url 'shop:comment_new' post.pk %}"
       class="btn btn-primary">
        댓글작성
    </a>
    </ul>


{% endblock %}